#bio {
  background-color: white;
  p {
    font-size: 20px;
    font-weight: 300;
    padding: 0 20px 40px;
    margin:0;
  }
}
.bioInfo {
  padding: 10px;
  img {
    width:150px;
    border-radius: 999px;
  }
}
