@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');
body {
    font-family: 'Roboto', sans-serif;
    width:100%;
    margin:0 auto;
    padding:0;
}
.navbar{
    background-color:#333333 !important;

}
h1 {
    text-align: center;
}
h4 {
    margin-bottom:-5px;
}
.fullPage {
    margin: 20px;
}
#projectsPage{
    justify-content: center;
    flex-wrap: wrap;

}
.projectCard{
    background-color: rgba(255, 255, 255, 75%);
    width:300px;
    padding: 10px;
}
.projectCard img{
    width: 100%;
}
footer{
    background-color: #343a40;
    padding:10px 50px;
}
.pageFooter {
    justify-content:center
}
i.socialFoot{
    font-size: 4em;
    color:#ffffff;
}
footer > div {
    color:#ffffff;
}
.hide {
    display:none !important;
}
.show{
    display:flex;
}