@import './variables';
@import "~bootstrap/scss/bootstrap";
@import url('https://fonts.googleapis.com/css?family=Permanent+Marker&display=swap');
body {
    width:100%;
    margin:0 auto;
    padding:0;
    background-color:$secondColor;
}
#nameTag {
    width: 70% ;
    background-color: $mainColor;
    border-radius:30px;
    margin: 100px 0 0;
}
#nameTagHeader {
  h1 {
    color:white !important;
    font-size: 80px;
    font-weight: 700;
    margin-bottom:-10px;
  }
  p {
    font-size: 40px;
    text-align:justify;
    color:white;
    font-weight:400;
    margin-top:0px;
  }
}
#myName {
  font-family: 'Permanent Marker', cursive;
  background-color: white;
  padding: 80px 0;
  h1 {
    font-size: 100px;
    color: black !important;
  }
}
#nameTagFooter {
  li{
    font-size:20px;
  }
}
footer {
  margin-top: 20px;
  justify-content:center;
  p, i {
    color:$triColor;
  }
  a > i {
    color:$triColor;
    margin: 10px 5px 0;
    &:hover{
      color:$mainColor;
      text-decoration: none;
    }
  }
}
.hide {
    display:none !important;
}