#tech {
  background-color: white;
  text-align:center;
  h2 {
    margin-bottom: 10px;
  }
}

.meter {
  position:relative;
  width: 40px;
  height: 200px;
  margin: 0 10px;
  span {
    display:block;
    overflow: hidden;
    background-color:#2083c5;
  }
}