#tech {
  background-color: white;
  padding: 0 20px 40px;
  text-align:center;
  ul {
    font-size: 20px;
    font-weight: 300;
  }
}

.meter {
  width: 25px;
	position: relative;
  span {
    display: block;
    position: relative;
    overflow: hidden;
    background-color:#2083c5;
  }
}