@import './../../../styles/variables.scss';

#projects {
  background-color: $white;
  h2 {
    font-family: 'Permanent Marker', cursive;
    background-color:$mainColor;
    color: $white;
    padding: 10px 0;
  }
}
.projectCard{
  width:300px;
  padding: 10px;
  margin: 20px 6px;
  padding: 0 20px;
  img {
    width: 100%;
    border-radius: 5px;
    box-shadow: 5px 10px 8px $triColor;
  }
  p {
    margin-top: 15px;
  }
}
a.fas {
  color: $mainColor !important;
  &:hover{
    color: $triColor;
  }
}