@import './../../../styles/variables.scss';

#projects {
  background-color: $white;
  h2 {
    background-color:$mainColor;
    color: $white;
    padding: 10px 0;
  }
}
.carousel-item{
  width:300px;
  padding: 10px;
  margin: 20px 6px;
  padding: 0 20px;
  img {
    width: 100%;
    border-radius: 5px;
    box-shadow: 5px 10px 8px $triColor;
  }
  .carousel-caption{
    background-color: rgba($color: #000000, $alpha: .75);
    padding:10px;
    border-radius: 10px;
  }
  p {
    margin-top: 15px;
  }
}
a.fas {
  color: $mainColor !important;
  &:hover{
    color: $triColor;
  }
}